<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Karthik Nagarajan. It uses APIs from mapbox.com and WeatherStack!</p>
        <img class="portrait" src="/img/karthik.jpg">
    </div>

    {{>footer}}
</body>

</html>